
 /*
* { margin: 0; }
 div { min-height: 10em; transition: linear 1s; }  */
.left-session {
  float: left;
  width: 18%;
  background: crimson;
}
.body-session {
  float: right;
  width: 81%;
  background: dodgerblue;
}
.expanded { width: 100%; }
.collapsed { width: 0%; }