<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">oraclexe</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">ehos</property>
        <property name="hibernate.default_schema">EHOS</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="ServiceIsseCancel" />
        <mapping class="PharmacyUnitLog" />
        <mapping class="CreditCompanies" />
        <mapping class="ItemConsumption" />
        <mapping class="PatientIssueReturn" />
        <mapping class="SupplierReturnCancel" />
        <mapping class="SystemUserUnit" />
        <mapping class="DirrectIssueToUnit" />
        <mapping class="PurchaseOrderTempItem" />
        <mapping class="OpdCreditPatients" />
        <mapping class="GrnTempItem" />
        <mapping class="PharmacyUnit" />
        <mapping class="GrnEdit" />
        <mapping class="DrugItemUnitQuantity" />
        <mapping class="SystemFuncCategories" />
        <mapping class="ReorderTempItem" />
        <mapping class="PurchaseOrderItem" />
        <mapping class="PhaCustomers" />
        <mapping class="SystemUserFunctions" />
        <mapping class="SystemFuncSubCategories" />
        <mapping class="CustPointSpends" />
        <mapping class="Exceed" />
        <mapping class="TestPhService" />
        <mapping class="BeforeVerification" />
        <mapping class="IssuePharmacyUnit" />
        <mapping class="PurchaseOrder" />
        <mapping class="OutdoorPatientIssue" />
        <mapping class="PaymentType" />
        <mapping class="Doctors" />
        <mapping class="IssuePharmacyUnitItem" />
        <mapping class="PatientIssueReturnItem" />
        <mapping class="ServiceRefundCredit" />
        <mapping class="ItemPrice" />
        <mapping class="PharmacyIssueCancel" />
        <mapping class="RelatedPharmacyForRequests" />
        <mapping class="IssuePatientConsumption" />
        <mapping class="IssueToUnitCancel" />
        <mapping class="UnitToken" />
        <mapping class="PharmacyOrder" />
        <mapping class="BeforeVerificationItem" />
        <mapping class="StockValuation" />
        <mapping class="ExceedDrugItem" />
        <mapping class="PatientIssueCancel" />
        <mapping class="DrugItemPharmacyUnit" />
        <mapping class="IssuePharmacyConsumption" />
        <mapping class="RelatedPharmacy" />
        <mapping class="SystemLogin" />
        <mapping class="OutdoorIssueItem" />
        <mapping class="IssuePharmacyReturnItem" />
        <mapping class="GrnDrugItem" />
        <mapping class="Banks" />
        <mapping class="ItemMovement" />
        <mapping class="SystemFunctions" />
        <mapping class="SupplierReturnItem" />
        <mapping class="SystemUserModules" />
        <mapping class="DrugItem" />
        <mapping class="DirrectIssueToUnitItem" />
        <mapping class="IssuePharmacyReturn" />
        <mapping class="IssuePharmacyUnitAccept" />
        <mapping class="PhaParameters" />
        <mapping class="PharmacyIssueCancelItem" />
        <mapping class="MonthlyItemConsumption" />
        <mapping class="ServiceIssue" />
        <mapping class="EpharmaSystemInfo" />
        <mapping class="SystemModules" />
        <mapping class="DrugCategory" />
        <mapping class="Grn" />
        <mapping class="TempQuantity" />
        <mapping class="Status" />
        <mapping class="PharmacyValuation" />
        <mapping class="Theme" />
        <mapping class="Supplier" />
        <mapping class="GrnEditDrugItem" />
        <mapping class="ServiceIssueSale" />
        <mapping class="StockUpdate" />
        <mapping class="GrnCancel" />
        <mapping class="SystemVariable" />
        <mapping class="CardRates" />
        <mapping class="Directions" />
        <mapping class="EpharmaInstalments" />
        <mapping class="LoyalityCards" />
        <mapping class="TableExport" />
        <mapping class="PharmacyOrderDrugItem" />
    </session-factory>
</hibernate-configuration>
